<div class="card" style="width:60%;">
    
 <div class="card-body">
  <div id="<%= dom_id profile %>">
   
   <%= image_tag(profile.profile_photo,class:"rounded-circle mx-auto ",style: 'height:300px;width:300px;') %>
   <br/><br/>
   <strong>Name:</strong><%= profile.name.split.map(&:capitalize).join(' ') %>
    <br/><br/>  
    <p>
     <strong>Bio:</strong>
     <%= profile.bio %>
    </p>
  </div>
  </div>  
  <div class="card-footer">
   <% if @profile.user == current_user%>
  <%= link_to "Edit this profile", edit_profile_path(profile) ,class:"btn btn-outline-primary btn-sm"%> 
<%end%>
    <strong>
        <%= profile.updated_at.localtime.strftime("%d %b, %y at %I : %M %p") %> 
        </strong>
  </div>
 </div>
