<div class="container">
<br/>
<div class="row card">

 <div class="card-header">
  <h2>Resend confirmation instructions</h2>
 </div>
 
 <div class="col-5 card-body">
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email ,class:"form-lable"%><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) ,class:"form-control"%>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Resend confirmation instructions" ,class:"btn btn-danger"%>
  </div>
<% end %>
<br/>
<%= render "devise/shared/links" %>
</div>
</div>
</div>
